{{#extends 'base'}}

{{#block 'content'}}
<h1> Country</h1>

<table class="table">
<thead>
    <tr>
        <th>Country Id</th>
        <th>Country</th>
        <th>Last Update</th>
    </tr>
</thead> 

{{#each country}}
    <tr>
        <td>{{this.country_id}}</td>
        <td>{{this.country}}</td>
        <td>{{this.last_update}}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="/country/{{this.country_id}}/update">
        </td>
    </tr>
{{/each}}
</table>

{{/block}}
{{/extends}}