{{#extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <h1>Create Country/ Add Country </h1> 
  
    <div>
        <label class="form-label">Country</label>
        <input type="text" class="form-control" name="country"/>
    </div>
    


    <input type="submit" class="btn btn-primary my-3"/>
    
</form> 
{{/block}}

{{/extends}}